NAME_PROJECT=damp
NAME_SERVER_CONTAINER=damp_httpd
NAME_PROJECT_CONTAINER=damp_php
NAME_SGBD_CONTAINER=damp_mariadb
NAME_SGBD_DISPLAY_CONTAINER=damp_phpmyadmin
NAME_MAIL_DISPLAY_CONTAINER=damp_mailhog
VALUE_SERVER_VERSION=latest
VALUE_SGBD_VERSION=focal
VALUE_SGBD_DISPLAY_VERSION=latest
VALUE_MAIL_DISPLAY_VERSION=latest
VALUE_SERVER_PORT=80
VALUE_SGBD_DISPLAY_PORT=8080
VALUE_MAIL_DISPLAY_PORT=8020
SGBD_DATABASE=damp
SGBD_ROOT_USERNAME=root
SGBD_ROOT_PASSWORD=secret
FOLDER_PROJECT=www
